//---GLOBAL---
$white-color: #fff;
$iris-color: #9f9acf;
$section-bg: #ebebeb;
$main-text-color: #665f60;

$second-font: 'Proxima nova','PT Sans', Arial, sans-serif;

//---HEADER---


//---GALLERY---


//---CONTACT---


//---FOOTER---

